<nav class="navbar navbar-default navbar-fixed-top pull-left" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="/#!home">Manage Modules</a>
            </li>
            <li><a href="/#!/createModule">Create Module</a></li>
                        <li><a href="/#!/manageFiles">Manage All Files</a></li>

        </ul>
        <ul class="nav navbar-nav pull-right">
        <li><a href=""><i>Logged in as user: {{loggedInUser.username}}</i></a></li>
            <li><a href="#" ng-click="logOut()" >Log Out</a></li>
        </ul>
    </div>
</nav>
